<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.work.crazy.war3soundroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RaceSelectorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RaceUnitSelectorActivity"
            android:label="@string/title_activity_race_unit_selector"
            android:parentActivityName=".RaceSelectorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.work.crazy.war3soundroid.RaceSelectorActivity" />
        </activity>
        <activity
            android:name=".RaceUnitSoundsList"
            android:label="@string/title_activity_race_unit_sounds_list"
            android:parentActivityName=".RaceUnitSelectorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.work.crazy.war3soundroid.RaceUnitSelectorActivity" />
        </activity>
    </application>

</manifest>
